.list{
  overflow-y: auto;
  overflow-x: hidden;
  max-height: calc(90vh - 50px); 
  margin-top: 10px;
}
  .searchBar{
    inline-size: 200px;
    padding: 5px;
  }
  .list-table-format.title {
    position: sticky;
    top: 0;
    background: #f8f8f8; 
    z-index: 10;
    border-bottom: 2px solid #ccc; 
  }

  .list-table-format {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 0.3fr 0.1fr;
    align-items: center;
    gap: 10px;
    padding: 12px 15px;
    border-bottom: 1px solid #cacaca;
    font-size: 13px;
  }

  
  .cross {
    cursor: pointer;
    color: red;
    text-align: center;
  }

  .edit{
    cursor: pointer;
    color: green;
    text-align: center;
  }
  
  @media (max-width: 600px) {
    .list-table-format {
      grid-template-columns: 1fr 3fr 1fr;
      gap: 15px;
    }
  
    .list-table-format.title {
      display: none;
    }
  }
  