.invoice{
  inline-size: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: calc(90vh - 50px); 
  margin-top: 10px;
}

.xx{
  display: flex;
  gap: 20px;
}
  .searchBar{
    inline-size: 200px;
    padding: 5px;
  }

  .icon{
    color: tomato;
    align-items: center;
    margin-block-start: -5px;
    cursor: pointer;
  }

  .invoice-table-format {
    display: grid;
    grid-template-columns: 0.2fr 0.5fr 1fr 1fr 0.5fr 0.2fr;
    align-items: center;
    gap: 10px;
    padding: 12px 15px;
    border-bottom: 1px solid #cacaca;
    font-size: 13px;
  }

  .bill-table-format{
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr 0fr;
    align-items: center;
    gap: 10px;
    padding: 12px 15px;
    border-bottom: 1px solid #cacaca;
    font-size: 13px;
  }

  .invoice-table-format.title {
    position: sticky;
    top: 0;
    background: #f8f8f8; 
    z-index: 10;
    border-bottom: 2px solid #ccc; 
  }

  .cart-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.cart-table-format{
  display: grid;
  grid-template-columns: 0.1fr 0.5fr 0.5fr 0fr;
  align-items: center;
    gap: 10px;
    padding: 12px 15px;
    border-bottom: 1px solid #cacaca;
    font-size: 13px;
}



.cart-total h2{
    margin-bottom: 5px;
}

.cart-total-details{
    display: flex;
    justify-content: space-between;
    color: #555;
}

.cart-total hr{
    margin: 10px 0px;
}

.cart-total button{
    border: none;
    border-radius: 4px;
    background-color: tomato;
    padding: 12px 0px;
    margin-top: 10px;
    cursor: pointer;
    color: white;
    width: max(15vm, 200px);
}

.printBTN{
  border-radius: 4px;
  border: none;
  margin-top: 15px;
  cursor: pointer;
  padding: 8px 5px;
  width: max(5vm, 100px);
  background-color: rgb(93, 157, 100);
}
  @media (max-width: 600px) {
    .list-table-format {
      grid-template-columns: 1fr 3fr 1fr;
      gap: 15px;
    }
  
    .list-table-format.title {
      display: none;
    }
  }
  

  